<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado de paises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-div>
    <ion-input class="input" [(ngModel)]="filtro" placeholder="Introduce los datos del filtro"></ion-input>
  </ion-div>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let country of countries | async">
        <ion-col *ngIf="filtro == '' || country.country.includes(filtro) || country.countryCode.includes(filtro)" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card >
            <ion-avatar>
              <img src="https://flagicons.lipis.dev/flags/4x3/{{country.countryCode.toLowerCase()}}.svg">
            </ion-avatar>
            <ion-card-content>
              <h1>{{ country.country }} ({{ country.countryCode}})</h1>
              City: {{ country.city }} <br> Currency: {{ country.currency }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
