*{
  background: black;
  --background: black;
  color: white;
}

ion-div {

  padding: 10%;

}
ion-input{
  background: lightgray;
  position: fixed;  
  color: black;
}

ion-card{
  border: 1px solid white;
  padding: 2%;
  text-align: center;
}

ion-avatar{
  margin: auto;
}

@media only screen and (orientation: landscape) {

  .input{

    display: contents;

  }

}